.colour{
    color: rgb(126, 124, 124);
}

.div-size{
    text-align: center;
    width: 50%;
    height: 50%;
    border: 1px solid black;
}

.div-sizee{
    text-align: center;
    width: 50%;
    height: 50%;
    border: 1px solid black;
    position: relative;
    left: 185px;
    bottom: 108px; 
}